.banner-sec {
  background-image: url("../images/bg2.svg");
  width: 90%;
  margin: auto;
  margin-left: 1%;
  background-repeat: no-repeat;
}
.mt-6-custom {
  margin-top: 3rem;
}

.section-2 {
  margin-left: 4%;
}

.hero-tittle {
  font-size: 68px;
  line-height: 1.2;
  font-weight: bold;
}
.hero-p {
  font-size: 20px;
  font-weight: 200;
}
